#gamePanel {
	font-family: "微软雅黑", "monaco", monospace;
	font-size: 14px;
	position: relative;
}
#gamePanel *{box-sizing:initial;user-select: none;}
#gamePanel li{
	list-style:none;
}
*{margin:0; padding:0;}
#gamePanel .title{
	text-align:center;
	height:40px;
	width:100%;
	background:#333333;
	color:#e5e5e5;
	line-height:40px;
	font-family: "微软雅黑";
	position:absolute;
	z-index:999;
}
#gamePanel {
	width: 1000px;
	margin: 0 auto;
	line-height: 20px;
	display: flex;
	padding: 20px 0;
}
#gamePanel .panel {
	width: 740px;
}
#gamePanel .info {
	padding-left: 16px;
	margin-left: 16px;
	border-left: 1px dashed #ccc;
  flex-direction: column;
	display: flex;
	&>div {
		padding: 4px 0;
	}
}
#gamePanel h1 {
	font-size: 40px;
	line-height: 40px;
	padding-bottom: 10px;
	/* padding-top:60px; */
}
#gamePanel #page {
	text-align: center;
	padding-top: 40px;
}
#gamePanel #page span {
	display: inline-block;
	color: #fff;
	background: #090;
	padding: 4px 12px;
}
#gamePanel #page em{
	display:block;
	text-align:center;
	margin-top:10px;
	font-style:normal;
}
/* #gamePanel #desc {
	padding-bottom: 60px;
} */
#gamePanel #desc strong {
	font-size: 120%;
	padding: 0 4px;
	color: #f00;
}

#gamePanel h1 {
	color: #00c;
}
#gamePanel h3 {
	color: #00c;
	font-size: 20px;
	line-height: 30px;
}
#gamePanel #page span {
	background-color: #00c;
}

#gamePanel #balls {
	border: solid 1px #999;
	padding: 8px;
	width: 720px;
	height: 60px;
	margin-bottom: 20px;
}
#gamePanel #balls ul {
	padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#gamePanel #balls ul li {
	width: 60px;
	height: 60px;
	float: left;
	position: relative;
}
#gamePanel .ball {
	/*border: solid 1px #000;*/
	background: url(http://coolfishstudio.github.io/game-ball-weighing/images/ball.png) no-repeat 50% 50%;
	/*width: 58px;
	height: 58px;
	border-radius: 30px;*/
	line-height: 60px;
	text-align: center;
	cursor: move;
}
#gamePanel .ball span {
	background: #fff;
	color: #000;
	padding: 0 4px;
}

#gamePanel #libra {
	position: relative;
	width: 740px;
	height: 420px;
	background: url(http://coolfishstudio.github.io/game-ball-weighing/images/libra_1.png) no-repeat 50% 100%;
}
#gamePanel #libra .platform {
	width: 240px;
	height: 230px;
	/*border: dotted 2px #ccc;*/
	/*padding: 6px;*/
	top: 40px;
	background: url(http://coolfishstudio.github.io/game-ball-weighing/images/platform.png) no-repeat 50% 100%;
}
#gamePanel #libra .platform-left {
	position: absolute;
	left: 0;
}
#gamePanel #libra .platform-right {
	position: absolute;
	right: 0;
}
#gamePanel #libra .platform-region {
	height: 160px;
	border: dotted 2px #ccc;
}
#gamePanel #libra .platform-hover .platform-region {
	border-color: #f90;
}
#gamePanel #libra .blance {
	position: absolute;
	background: url(http://coolfishstudio.github.io/game-ball-weighing/images/blance_1.png) no-repeat 50% -960px;
	height: 120px;
	width: 100%;
	top: 190px;
}

#gamePanel .is-moving {
	cursor: move;
}

#gamePanel #operation {
	text-align: center;
	padding: 20px 0;
}
#gamePanel #operation button {
	padding: 6px 12px;
	font-size: 18px;
	line-height: 24px;
}
#gamePanel #operation-record {
	/* margin-top: 20px; */
	display: none;
}
#gamePanel #operation-record ul {
	border: dashed 1px #ccc;
	padding: 4px 8px;
	border-radius: 4px;
}
#gamePanel #result {
	/* margin-top: 40px; */
	line-height: 24px;
}
/* #gamePanel #result p {
	margin-bottom: 20px;
} */
#gamePanel #result .btn {
	text-align: center;
}
#gamePanel #result button {
	padding: 4px 16px;
	font-size: 16px;
	margin: 8px 0 0 0;
}
